body {
  height: 100vh; /* viewport height */
  width: 100vw; /* viewport width */
  background-size:  500%;
  background-image: linear-gradient(
        75deg,
        rgb(0, 0, 0) 0%,
        rgb(75, 69, 158) 25%,
        rgb(134, 58, 58) 50%,
        rgb(44, 43, 100) 75%,
        rgb(35, 29, 54) 100%
  );
  animation: AnimateBG 60s ease infinite;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; /* no scrollbars */
  user-select: none;
}

  #image-track {
    touch-action: pan-y;
    display: flex;
    gap: 25px; /* https://css-tricks.com/simple-little-use-case-vmin/ */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%); /* Move the div up to center it; then controlled by JavaScript, line 25 */
    user-select:none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    transition: none;
    margin: 0.5%;
    border-radius: 1.5%;
    width: 45vmin;
    height: 70vmin;
    object-fit: cover;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
  }

  .image-center {
    object-position: center;
  }

  @keyframes AnimateBG {
    0%{background-position:50% 50%}
    50%{background-position:100% 50%}
    100%{background-position:50% 50%}
  }
  
   #image-track:hover > .image:hover{
    transition: 1.5s;
    width: auto;
    height: 70vmin;
    transform: translate(-0%, -0%) scale(1.2);
    z-index: 1;
  }

  #image-track > .image:not(:hover) {
    width: 12vmin;  /* Change the width of the images */
    transform: none;
    z-index: auto;
    transition: 0.8s;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  } 
  
  .navMenu {  /* Put the navMenu in the right spot on the screen */
    position:absolute;
    top: 5%;
    left: 53%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .navMenu a { /* Icons: Home,Work,about etc.. */
    color:bisque;
    text-decoration:none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 200px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
  }
  
.navMenu a:hover { /* The animation for the Icons in navMenu */
    color: #979526;
    transition: 0.8s;
    transform: scale(1.3);
}

@media (max-width: 768px) {
  #image-track {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .navMenu {
    display: flex;
    justify-content: flex-end;
  }
  .navMenu a {
    margin: 0 10px;
  }
}
